
nav{
    color: white;
    font-size: 25px;
}
.index_body{
    background-color: whitesmoke;
}
a:link{
    color: black;
}
a:visited{
    color: green;
}
h1{
    text-align: center;
    height: 100px;
    background-image: url(/images/rocks.jpg);
    color: white;
}